
<link rel="stylesheet" href="/css/owl.carousel.min.css">

<!-- Style -->
<link rel="stylesheet" href="/css/del_post.css">

<body>

  <div class="content">

    <div class="container">
      <h2 class="mb-5">내가 작성한 글</h2>

      <div class="table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">
              </th>
              <th scope="col">Num</th>
              <th scope="col">Title</th>
              <th scope="col">Nickname</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(p => { %>
              <tr>
                <th scope="row">
                </th>
                <td><%= p.id %></td>
                <td><a href="<%= `/posts/${p.id}` %>"><%= p.title %></a></td>
                <td><%= p.user.nickname %></td>
                <td><%= p.createdAt %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>


    </div>

  </div>
</body>

<script src="/js/main.js"></script>
<script src="/js/owl.carousel.min.js"></script>