
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

<body>
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-0">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">산</h1>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="buttons">
                <div class="dropdown region">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">지역</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/mountain/seoul">서울</a>
                        <a class="dropdown-item" href="/mountain/gyeonggi">경기도</a>
                        <a class="dropdown-item" href="/mountain/incheon">인천</a>
                        <a class="dropdown-item" href="/mountain/gangwon">강원도</a>
                        <a class="dropdown-item" href="/mountain/chungcheong">충청도</a>
                        <a class="dropdown-item" href="/mountain/daejeon">대전</a>
                        <a class="dropdown-item" href="/mountain/jeolla">전라도</a>
                        <a class="dropdown-item" href="/mountain/gwangju">광주</a>
                        <a class="dropdown-item" href="/mountain/gyeongsang">경상도</a>
                        <a class="dropdown-item" href="/mountain/daegu">대구</a>
                        <a class="dropdown-item" href="/mountain/ulsan">울산</a>
                        <a class="dropdown-item" href="/mountain/busan">부산</a>
                        <a class="dropdown-item" href="/mountain/jeju">제주도</a>
                    </div>
                </div>
                <div class="dropdown hard">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">난이도</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/mountain/difficulty/high">상</a>
                        <a class="dropdown-item" href="/mountain/difficulty/mid">중</a>
                        <a class="dropdown-item" href="/mountain/difficulty/low">하</a>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% mountains.forEach(m => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/mountain/image/<%= m.number %>" alt="" style="width: 100%; height: 250px; object-fit: cover;" />
    
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= m.name %>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/mountainInfo/<%= m.number %>">View</a></button>
                                        </div>
                                        <% let i = 0; %>
                                        <% if (bookmarks.length != 0) { %>
                                            <% bookmarks.forEach(b => { %>
                                                <% if (b.mountain.number == m.number) { %>
                                                    <% i = 1; %>
                                                <% }})}; %>
                                        <% if (i == 0) { %>
                                            <% if (loggedIn) { %>
                                                <form action="/bookmark/<%= m.number %>/create" method="post" onsubmit="switchHeart(this.id, 0)">
                                                    <input type="submit" id="<%= m.number %>" class="btn fa-input" value="&#xf004" />
                                                </form>
                                            <% } else { %>
                                                <form action="/mountain" method="get">
                                                    <input type="submit" id="<%= m.number %>" class="btn fa-input" value="&#xf004" style="width: 20px;" />
                                                </form>
                                            <% } %>
                                        <% } else { %> 
                                            <form action="/bookmark/<%= m.number %>/delete" method="post" onsubmit="switchHeart(this.id, 1)">
                                                <input type="submit" id="<%= m.number %>" class="btn fa-input" value="&#xf004" style="color:red"/>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %> 
                </div>
            </div>
        </div>

    </main>

</body>

<script>
    function switchHeart(clickedId, status) {
        const defaultHeart = document.getElementById(clickedId);
        
        if (status == 0) {
            defaultHeart.style.color = "red";
        }
        else {
            defaultHeart.style.color = "black";
        }
    }
</script>
