<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

    
<!-- Custom styles for this template -->
<link href="css/carousel.css" rel="stylesheet">


<body>
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/mountainInfo/<%= mountain.number %>/0" alt="" style="width: 100%" />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1><%= mountain.name %></h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/mountainInfo/<%= mountain.number %>/1" alt="" style="width: 100%; height: 500px" />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1><%= mountain.name %></h1>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% arounds.forEach(a => { %>
      <div class="col-lg-4">
        <h2><%= a.name %></h2>

        <p><%= a.address %></p>
      </div><!-- /.col-lg-4 -->
      <% }); %>
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%= mountain.name %> <span class="text-muted"> (으)로 떠나보세요!</span></h2>
        <p class="lead">주소: <%= mountain.address %></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#eee"/>
          <image href="/mountainInfo/<%= mountain.number %>/0" alt="" />
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><%= mountain.name %> <span class="text-muted"> 에 대해서.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        <table class= "table">
            <tr>
                <th>고도</th>
                <td><%= mountain.altitude %></td>
            </tr>
            <tr>
                <th>거리</th>
                <td><%= mountain.distance %></td>
            </tr>
            <tr>
                <th>난이도</th>
                <td><%= mountain.difficulty %></td>
            </tr>
            <tr>
                <th>케이블카</th>
                <td><%= mountain.cableCar %></td>
            </tr>
        </table>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"/>
          <image href="/mountainInfo/<%= mountain.number %>/1" alt="" />
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>
</body>

<script src="./js/bootstrap.bundle.min.js"></script>
