<div class="container-fluid">

    <h3 class="contentBoxTop"> 회원정보</h3>

    <form class="user-form" action="/users" method="post">
        <fieldset disabled>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">ID</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="id" name="id" value="<%= user.id %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Birth</label>
                <div class="col-sm-9">
                    <input class="form-control" type="date" id="birth" name="birth" value="<%= user.birth %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="nickname" class="col-sm-3 col-form-label">Nickname</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="nickname" name="nickname" value="<%= user.nickname %>">
                </div>
            </div>
        </fieldset>
    </form>
    
    <div class="center">
      <a class="button" herf="<%= `/user/${user.id}/edit` %>">Edit Profile</a>
    </div>
    <div>
        <a class="btn btn-outline-success" href="/users">Back</a>
    </div>
