<div class="container-fluid">
  <h2 class="center">Community</h2>
  <table class="table table-striped" id="tb">
    <thead>
      <tr>
        <th scope="col">Post Num</th>
        <th scope="col">Title</th>
        <th scope="col">Detail</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(post => { %>
      <tr>
        <td>
          <%= post.id %>
        </td>
        <td>
          <a href="<%= `/posts/${post.id}` %>">
            <%= post.title %>
          </a>
        </td>
        <td>
          <%= post.detail %>
        </td>
        <td>
          <%= post.createdAt %>
        </td>
        <td>
          <a class="btn btn-outline-success" href="<%=`/posts/${post.id}/edit`%>">
            Edit
          </a>
        </td>
        <td>
          <form action="<%=`posts/${post.id}/delete`%>" method="post">
            <input type="hidden" name="id" value="<%= post.id %>">
            <input type="submit" name="Delete" value="Delete" class="btn btn-outline-success"
              onClick="alert('Are yout sure you want to delete this record?')">
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>

  </table>

  <div>
    <a class="btn btn-outline-success" href="/posts/new" type="submit">New</a>

  </div>

  <!-- search -->
  <div class="container-fluid" id="search">
    <div class="d-grid gap-4">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="게시글 검
색" aria-label="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
